<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!-- Parametros generales del sistema -->
		<add key="Main.gCOD_APLICACION" value="0"/>
		<!--Codigo de aplicación asignado por el sistema de seguridad del Centro de Cómputo-->
		<add key="Main.gCOD_SEDE" value="CA"/>
		<!-- Sede por defecto -->
		<add key="Main.gTituloPagina" value="Instituto Tecnológico de Costa Rica"/>
		<!-- Estos valores son asociadoa a variablea estáticas en el evento Application_OnStart -->
		<add key="Main.gSubTituloPagina" value="Sistema de Gestión del Área del Gimnasio"/>
		<!-- para facilitar su uso en el código fuente de toda la aplicación. -->
		<!-- URIs para hacer referencias a servicios de uso común, hay muchos otros servicios disponibles que no se incluyen, dependiendo de lo que la aplicación requiera se le indicarán -->
		<add key="wsSeguridad.seguridad" value="http://tec-apps.itcr.ac.cr/wsseguridad/seguridad.asmx"/>
		<add key="wsEmail.email" value="http://tec-apps/wsemail/email.asmx"/>
		<!-- Conectividad con SQL Server -->
		<add key="Main.StringConexion" value="data source=MAU-PC;initial catalog=SGAG_BD;integrated security=SSPI;persist security info=False;packet size=4096"/>
		<!-- variantes de conectividad con SQL Server para uso en desarrollo (aut. SQL) y produccion (aut. windows), no se usan, están como ejemplo -->
		<add key="Main.StringConexionDesarrollo" value="data source=tec-develop;initial catalog=DB;integrated security=No;User Id=gvega;Password=xxx;persist security info=False;packet size=4096"/>
		<add key="Main.StringConexionProduccion" value="data source=tec-develop.itcr.ac.cr;initial catalog=DB;integrated security=SSPI;persist security info=False;packet size=4096"/>
		<add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="49336;True;-1;1;0"/>
		<add key="microsoft.visualstudio.teamsystems.backupinfo" value="2;web.config.backup"/>
	</appSettings>
	<location path="css">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="imagenes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración. Al salir a producción debe colocarse en false.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<pages maintainScrollPositionOnPostBack="true"/>
		<authorization>
			<!--<allow users="*"/>-->
			<deny users="?"/>
		</authorization>
		<authentication mode="Forms">
			<forms name=".SGAGUSER" loginUrl="frmAutenticacion.aspx" protection="All" timeout="30">
			</forms>
		</authentication>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-CR" uiCulture="es-CR"/>
		<customErrors mode="RemoteOnly"/>
		<!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="HostAdapter" type="Microsoft.VisualStudio.TestTools.HostAdapter.Web.HttpModule, Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="HostAdapter" type="Microsoft.VisualStudio.TestTools.HostAdapter.Web.HttpModule, Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SeguridadSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://tec-develop.itcr.ac.cr/wsSeguridad/Seguridad.asmx" binding="basicHttpBinding" bindingConfiguration="SeguridadSoap" contract="wsSeguridad.SeguridadSoap" name="SeguridadSoap"/>
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<codeBase version="10.0.0.0" href="file:///c:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2010.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter.DLL"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.Common/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.Common.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.QualityTools.ExecutionCommon" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.ExecutionCommon/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.ExecutionCommon.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Resource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.Resource/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.Resource.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
