
/* DATA TABLE -----------------------*/

#dt_prestamos {
	font-size: 14px;
	text-align:left;
}

#dt_prestamos #container {
	width: 800px;
}

/* --------------------------------- */

body 
{
    position: relative;
    top: 0px;
    left: 0px;
}

#content
{
    text-align: left;
}

#dRealizarPrestamo
{
    padding: 10px 0 20px 0;
}

.dBotonesCentrados
{
    width: 800px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.dBotonesCentrados input
{
    margin: 0 206px 0 0px;
}

legend
{
    font-weight: normal;
    color: #696969;
}

.pObservaciones input
{
    width: 700px;
    margin-right: 10px;
}

#fieldImplemento p, #infoPrestamo p
{
    margin: 2px;
}

h3, #infoPrestamo
{
    margin-bottom: 10px;
}

fieldset 
{
    margin-top: 0px;
    width: 800px;
}