
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
 
#dt_prestamos {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
}

#dt_prestamos #container {
	width: 800px;
}

body 
{
    position: absolute;
    top: 0px;
    left: 0px;
}